<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vyas.pranav.studentcompanion">

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/sample_app_unit_id" />
    </application>
</manifest>
